* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: 'Nunito Sans';
    background: #f4f6fb;
    padding: 50px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    gap: 6px;

    padding: 8px 16px;
    border-radius: 12px;

    font-size: 0.85rem;
    font-weight: 600;

    cursor: pointer;
    user-select: none;

    border: none;

    transition:
        background 0.15s ease,
        color 0.15s ease,
        box-shadow 0.15s ease,
        transform 0.1s ease;
}

.btn:active {
    transform: scale(0.97);
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-primary {
    background: linear-gradient(90deg, #2b61ff, #1f4de0);
    color: white;

    box-shadow: 0 4px 10px rgba(43, 97, 255, 0.25);
}

.btn-primary:hover:not(:disabled) {
    box-shadow: 0 6px 18px rgba(43, 97, 255, 0.35);
}